{% extends 'base.html' %}

{% block header %}
  <div class="alert alert-secondary" role="alert">
   <h3>findout</h3>
  </div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
    {% for item in object_list %}
    <div class="alert alert-info" role="alert">
      <p>タイトル: <a href={% url 'detail' item.pk %}>{{item.title}} </a></p>
      <p>投稿者: {{ item.author }}</p>
      <a href="#" class="btn btn-primary disabled  role="button" aria-disabled="true">いいね{{ item.good }}</a>
      <a href="#" class="btn btn-primary disabled  role="button" aria-disabled="true">既読{{ item.read }}</a>
    </div>
    {% endfor %}
  <a href="{% url 'logout' %}" >logout</a>
</div>
{% else %}
Please login
{% endif %}
{% endblock content %}
